<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listaDogadjajaServlet</servlet-name>
        <servlet-class>servleti.listaDogadjajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>servleti.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PretragaDogadjajaServlet</servlet-name>
        <servlet-class>servleti.PretragaDogadjajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>servleti.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>servleti.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaLozinkeServlet</servlet-name>
        <servlet-class>servleti.PromenaLozinkeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditKorisnikServlet</servlet-name>
        <servlet-class>servleti.EditKorisnikServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RezervisiServlet</servlet-name>
        <servlet-class>servleti.RezervisiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PonistiRezServlet</servlet-name>
        <servlet-class>servleti.PonistiRezServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikaziRezServlet</servlet-name>
        <servlet-class>servleti.PrikaziRezServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B_prodajaUlServlet</servlet-name>
        <servlet-class>servleti.B_prodajaUlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B_prodajRezServlet</servlet-name>
        <servlet-class>servleti.B_prodajRezServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B_citajKategorijeServlet</servlet-name>
        <servlet-class>servleti.B_citajKategorijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B_dodajKatServlet</servlet-name>
        <servlet-class>servleti.B_dodajKatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B_dodajDServlet</servlet-name>
        <servlet-class>servleti.B_dodajDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B_izmeniDogadjajServlet</servlet-name>
        <servlet-class>servleti.B_izmeniDogadjajServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B_updateDogadjajServlet</servlet-name>
        <servlet-class>servleti.B_updateDogadjajServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B_updateRezervacijeServlet</servlet-name>
        <servlet-class>servleti.B_updateRezervacijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_radnaMestaServlet</servlet-name>
        <servlet-class>servleti.A_radnaMestaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_updateRegistracijeServlet</servlet-name>
        <servlet-class>servleti.A_updateRegistracijeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_reg2Servlet</servlet-name>
        <servlet-class>servleti.A_reg2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_editKorisnikServlet</servlet-name>
        <servlet-class>servleti.A_editKorisnikServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_editRadnoMestoServlet</servlet-name>
        <servlet-class>servleti.A_editRadnoMestoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listaDogadjajaServlet</servlet-name>
        <url-pattern>/listaDogadjajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/RegistracijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PretragaDogadjajaServlet</servlet-name>
        <url-pattern>/PretragaDogadjajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaLozinkeServlet</servlet-name>
        <url-pattern>/PromenaLozinkeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditKorisnikServlet</servlet-name>
        <url-pattern>/EditKorisnikServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RezervisiServlet</servlet-name>
        <url-pattern>/RezervisiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PonistiRezServlet</servlet-name>
        <url-pattern>/PonistiRezServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikaziRezServlet</servlet-name>
        <url-pattern>/PrikaziRezServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B_prodajaUlServlet</servlet-name>
        <url-pattern>/B_prodajaUlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B_prodajRezServlet</servlet-name>
        <url-pattern>/B_prodajRezServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B_citajKategorijeServlet</servlet-name>
        <url-pattern>/B_citajKategorijeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B_dodajKatServlet</servlet-name>
        <url-pattern>/B_dodajKatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B_dodajDServlet</servlet-name>
        <url-pattern>/B_dodajDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B_izmeniDogadjajServlet</servlet-name>
        <url-pattern>/B_izmeniDogadjajServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B_updateDogadjajServlet</servlet-name>
        <url-pattern>/B_updateDogadjajServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B_updateRezervacijeServlet</servlet-name>
        <url-pattern>/B_updateRezervacijeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_radnaMestaServlet</servlet-name>
        <url-pattern>/A_radnaMestaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_updateRegistracijeServlet</servlet-name>
        <url-pattern>/A_updateRegistracijeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_reg2Servlet</servlet-name>
        <url-pattern>/A_reg2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_editKorisnikServlet</servlet-name>
        <url-pattern>/A_editKorisnikServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_editRadnoMestoServlet</servlet-name>
        <url-pattern>/A_editRadnoMestoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
